
<div class="border rounded-md border-gray-200 bg-white px-4 py-5 sm:px-6">
  <%= turbo_frame_tag "new-to-do" do %>
    <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
      <div class="ml-4 mt-2 flex gap-x-4 items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-8 h-8">
          <path fill-rule="evenodd" d="M10.5 3A1.501 1.501 0 009 4.5h6A1.5 1.5 0 0013.5 3h-3zm-2.693.178A3 3 0 0110.5 1.5h3a3 3 0 012.694 1.678c.497.042.992.092 1.486.15 1.497.173 2.57 1.46 2.57 2.929V19.5a3 3 0 01-3 3H6.75a3 3 0 01-3-3V6.257c0-1.47 1.073-2.756 2.57-2.93.493-.057.989-.107 1.487-.15z" clip-rule="evenodd" />
        </svg>
        <h3 class="text-5xl font-semibold leading-6 text-gray-900">to-dos list</h3>
      </div>
      <div class="ml-4 mt-2 flex-shrink-0">
        <%= button_to new_to_do_path, method: :get, class: "relative inline-flex items-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" do %>
          Add +
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<div class="shadow-md rounded-md">
  <ul role="list" class="divide-y divide-gray-100 pr-4 pl-4" id="to_dos">
    <%= render @to_dos %>
  </ul>
</div>